@model Survey_Project.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <center>
        <header>
            <img src="~/Images/teaHero.jpg" width="700" height="300" style="vertical-align:top">
        </header>
        <br />
        <h1>Hi, @Html.DisplayFor(model => model.FirstName)!</h1>
    </center>
    <section>
        <div>
            <p>
                We hope you enjoyed your visit. Please take this quick survey and receive a $5.00 credit on your account. <br />
                See you soon!
            </p>
            <br />
            <h4>
                Sincerly, <br />
                Jane's Tea Shop
            </h4>
        </div> 
        <h3>
            <center>
                <a asp-action="ViewSurvey">Click here for the Survey</a>
            </center>
        </h3>
    </section>

