@model Survey_Project.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Hi, @Html.DisplayFor(model => model.FirstName)!</h1>
<p>
    <a asp-action="ViewSurvey">View All Surveys</a>
</p>


