@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Jane's Tea Shop</h1>
        <hr />
        <header> <img src="~/Images/shelf.webp" width="1100" height="500" style="vertical-align:top"></header>



    </div>
