
@{
    ViewData["Title"] = "GoogleCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <div>
        <script>
            google.charts.load('current', { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(quarterResults);
            google.charts.setOnLoadCallback(compareFirstQuarter);
            google.charts.setOnLoadCallback(compareSecondQuarter);

            function drawChart() {
                // Define the chart to be drawn.
                var options = {};
                options.url = '@Url.Action("GetChartData","Admin")';
                        @*new { id = 0 }*@
                options.type = "GET";
                options.dataType = "json";

                options.success = function (data) {
                    var chartData = [
                        ['Option', 'Choice']
                    ];
                    $.each(data, function (i, item) {
                        chartData.push([item.responsesId.toString(),
                        item.optionsId]);
                    });
                    var chartDataTable = google.visualization.
                        arrayToDataTable(chartData);
                    var chartOptions = {
                        title: "Customer Satisfaction",
                        hAxis: {
                            title: 'Rate your experience',
                            minValue: 0
                        },
                        vAxis: {
                            title: ''
                        }
                    };
                    var chart = new google.visualization.PieChart
                        (document.getElementById('myPieChart'));
                    chart.draw(chartDataTable, chartOptions);
                };
                options.error = function () {
                    $("#msg").html("<h2>Error while using Google Charts!</h2 > ");
                };
                $.ajax(options);
            }
                //Quarter results chart

                // Callback that draws the pie chart.
                function quarterResults() {

                    // Create the data table .
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Satisfaction');
                    data.addColumn('number', 'rate');
                    data.addRows([
                        ['Excellent', 3],
                        ['Good', 1],
                        ['Fair', 2],
                        ['Poor', 1],
       
                    ]);

                    // Set options .
                    var options = {
                        title: 'Results from Last Quarter',
                        width: 600,
                        height: 500
                    };

                    // Instantiate and draw the chart for Quarterly chart.
                    var chart = new google.visualization.PieChart(document.getElementById('quarterlyChart'));
                    chart.draw(data, options);
                }


            //Quarter results chart

            // Callback that draws the pie chart.
            function compareFirstQuarter() {

                // Create the data table .
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Satisfaction');
                data.addColumn('number', 'rate');
                data.addRows([
                    ['Excellent', 4],
                    ['Good', 2],
                    ['Fair', 1],
                    ['Poor', 0],

                ]);

                // Set options .
                var options = {
                    title: 'Results from 2019 - First Quarter',
                    width: 400,
                    height: 300
                };

                // Instantiate and draw the chart for Quarterly chart.
                var chart = new google.visualization.PieChart(document.getElementById('compareFirstQuarter'));
                chart.draw(data, options);
            }


            //Quarter results chart

            // Callback that draws the pie chart.
            function compareSecondQuarter() {

                // Create the data table .
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Satisfaction');
                data.addColumn('number', 'rate');
                data.addRows([
                    ['Excellent', 1],
                    ['Good', 2],
                    ['Fair', 3],
                    ['Poor', 1],

                ]);

                // Set options .
                var options = {
                    title: 'Results from 2020 - First Quarter',
                    width: 400,
                    height: 300
                };

                // Instantiate and draw the chart for Quarterly chart.
                var chart = new google.visualization.PieChart(document.getElementById('compareSecondQuarter'));
                chart.draw(data, options);
            }

            
        </script>
    </div>
</head>
<body>
    <section>
        <h1> Results from the most recent quarter:</h1>
        <!-- Identify where the chart should be drawn. -->
        <div id="myPieChart" style="width:40%; height:30%"></div>
        <div id="quarterlyChart" style="width:60%; height:50%"></div>
        </section>
    <section>
        <h2>Results compared to the previous year:</h2>
        <div id="compareFirstQuarter" style="width:40%; height:30%"></div>
        <div id="compareSecondQuarter" style="width:40%; height:30%"></div>
    </section>
 
</body>




@*maybe related?

                //var jsonData = $.ajax({
                //    url: "jdbc:sqlserver://localhost;integratedSecurity=true;",
                //    dataType: "json",
                //    async: false
                //}).responseText;

                // Create our data table out of JSON data loaded from server.
                //var data = new google.visualization.DataTable(jsonData);

                //// Instantiate and draw the chart.
                //var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
                //chart.draw(data, null);

                //var piechart = new google.visualization.PieChart(document
                //    .getElementById('myPieChart'));
                //piechart.draw(data, piechart_options);*@