
@{
    ViewData["Title"] = "GoogleCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var jsonData = $.ajax({
                url: "jdbc:sqlserver://localhost;integratedSecurity=true;",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);
            
            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
            chart.draw(data, null);

            var piechart = new google.visualization.PieChart(document
                .getElementById('myPieChart'));
            piechart.draw(data, piechart_options);
        }
    </script>
</head>
<body>
    <!-- Identify where the chart should be drawn. -->
    <div id="myPieChart" style="width:40%; height:30%"></div>
</body>

   @*//var data = new google.visualization.DataTable();
            //data.addColumn('string', 'Element');
            //data.addColumn('number', 'Percentage');
            //data.addRows([
            //    ['Nitrogen', 0.78],
            //    ['Oxygen', 0.21],
            //    ['Other', 0.01]
            //]);*@