@model Survey_Project.Models.Survey

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quarter" class="control-label"></label>
                <form asp-controller="Survey" asp-action="Create" method="post" role="form" class="ui large form">

                    <select name="quarter">
                        <option value="">Select One</option>
                        <option value="2020 2nd Quarter">2020 2nd Quarter</option>
                        <option value="2020 1st Quarter">2020 1st Quarter</option>
                        <option value="2019 4th Quarter">2019 4th Quarter</option>
                        <option value="2019 3rd Quarter">2019 3rd Quarter</option>
                        <option value="2019 2rd Quarter">2019 2rd Quarter</option>
                        <option value="2019 1st Quarter">2019 1st Quarter</option>
                    </select>

                    <input type="submit" value="TakeSurvey" class="btn btn-primary">
                </form>
</form>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
</div>
            </div>
        
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
