@model Survey_Project.Models.QuestionViewModel

@{
    ViewData["Title"] = "SurveyQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fill Questions</h1>

<h4>Question type</h4>
<hr />

<div>
    <a asp-controller="Survey" asp-action="AddOption">Add Option</a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Questions" class="control-label"></label>
            <input asp-for="@Model.Questions" class="form-control" />
            <span asp-validation-for="@Model.Questions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        @*<p>
                <a asp-action="SurveyQuestions" asp-route-id="@Model.Sur">Fill out the Question</a>
            </p>*@

        @*sumbit button doesnt do anything*@


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
